body,
html {
    margin: 0%;
    height: 100%;
}

#screen {
    background-image: url("../image/board.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.boardview_selection {
    position: absolute;
    cursor: pointer;
}

.boardview_selection:hover .msg1 {
    visibility: visible;
}

.msg1 {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 65%;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}