body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../image/classroom.png");
  
    /* Full height */
    height: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
  }

 

h1 {
    font-family: JejuHallasan;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 65px;
    color:rgb(19, 16, 16);
}

.pullup {
    font-family: Podkova;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    /* identical to box height */

    /* Primary Color */
    color: #EDEDF5;
}