body, html {
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../image/classroom.png");
  
    /* Full height */
    height: 130%;


    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
  }

 
