body, html {
    margin: 0%;
    height: 100%;
  }
  
.bg {
    /* The image used */
    background-image: url("../image/defaultView.png");
  
    /* Full height */
    height: 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
  }

p {
  position: absolute;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#msg1 {
  top: 93%;
  left: 45%;
  color:brown;
}

#msg2 {
  letter-spacing: -0.3em;
  text-orientation: upright;
  writing-mode: vertical-rl;
  top: 48%;
  left: 16%;
  color: brown;
}

#msg1 {
  top: 93%;
  right: 45%;
  color:brown;
}
