body,
html {
    margin: 0%;
    height: 100%;
}

.bg {
    background-image: url("../image/defaultView.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}