body, html {
    margin: 0%;
    height: 100%;
  }
  
#screen {
    /* The image used */
    background-image: url("../image/left_view.png");
  
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
  }

#msg1 {
  position: absolute;
  top:81%;
  left:65%;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#back_arrow {
  visibility: hidden;
}