body,
html {
    margin: 0%;
    height: 100%;
}

#screen {
    background-image: url("../images/right_view.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#msg1 {
    position: absolute;
    top: 81%;
    left: 30%;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#msg2 {
    visibility: hidden;
    position: absolute;
    top: 60%;
    left: 53%;
    color: cornflowerblue;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#R_back_arrow {
    visibility: hidden;
    cursor: pointer;
    transform: scale(0.3);
}