.subview_selection {
    position: absolute;
    background-color: #000;
    opacity: 30%;
    cursor: pointer;
}

.subview_selection:hover {
    background-color: aqua;
}

.arrow_img{
    position: absolute;
    width: 10%;
} 